In [1]:
import pandas as pd
import numpy as np

df = (
    pd.DataFrame(
        pd.read_csv("../../data/raw/understat.com.csv")
    )
    .drop(
        columns = ['wins', 'draws', 'loses','scored', 'missed','npxG', 'xG_diff', 'xGA_diff', 'npxGA', 'npxGD', 'xpts', 'xpts_diff']
    )
    .rename(
        columns={'Unnamed: 0': 'League', 'Unnamed: 1':'Year'}
    )
    .set_index('League')
    .drop("RFPL")
)

df

,Year,position,team,matches,pts,xG,xGA,ppda_coef,oppda_coef,deep,deep_allowed
League,,,,,,,,,,,
La_liga,2014,1,Barcelona,38,94,102.980152,28.444293,5.683535,16.367593,489,114
La_liga,2014,2,Real Madrid,38,92,95.766243,42.607198,10.209085,12.929510,351,153
La_liga,2014,3,Atletico Madrid,38,78,57.047670,29.069107,8.982028,9.237091,197,123
La_liga,2014,4,Valencia,38,77,55.062500,39.392572,8.709827,7.870225,203,172
La_liga,2014,5,Sevilla,38,76,69.526624,47.862742,8.276148,9.477805,305,168
...,...,...,...,...,...,...,...,...,...,...,...
Ligue_1,2019,16,Dijon,28,30,27.378050,39.300382,14.308293,9.703021,111,176
Ligue_1,2019,17,Saint-Etienne,28,30,29.651493,37.725643,10.718417,10.496213,93,133
Ligue_1,2019,18,Nimes,28,27,30.193755,40.473400,12.457197,9.054791,109,159
Ligue_1,2019,19,Amiens,28,23,25.619869,38.426209,12.449507,9.917285,101,148
Ligue_1,2019,20,Toulouse,28,13,31.294048,48.275034,14.032994,10.193535,115,178