In [35]:
import pandas as pd
from multipledispatch import dispatch


def load_and_process(url_or_path_to_csv_file):

    # Method Chain 1 (Load data and deal with missing data)

    df1 = (
        pd.read_csv("../../data/raw/understat.com.csv"
        )
    )

    # Method Chain 2 (Create new columns, drop others, and do processing)

    df2 = (
          df1
    .assign(pts_per_game = lambda df: df['pts']/df['matches']
    )
    .drop(columns=['xGA_diff','npxG','npxGD','ppda_coef','deep','deep_allowed','npxGA','oppda_coef','wins','draws','loses']
    )
    .rename(columns={'Unnamed: 0' :'league','Unnamed: 1':'year'}
    )
    .set_index('league'
    )
    .drop('RFPL'
    )
    .reset_index(
    )
     )

    # Make sure to return the latest dataframe

    return df2

@dispatch(str,int)
def data_filter(league,year):
    df1 = load_and_process("../../data/raw/understat.com.csv")
    df2 = (
        df1[df1["league"]==league]
        )
    df3 = df2[df2["year"]==year]
    
    return df3

@dispatch(str)
def data_filter(league):
    df1 = load_and_process("../../data/raw/understat.com.csv")
    df2 = (
        df1[df1["league"]==league]
        )
    
    return df2      



load_and_process("../../data/raw/understat.com.csv")
#league_filter("EPL",2014)

,league,year,position,team,matches,scored,missed,pts,xG,xG_diff,xGA,xpts,xpts_diff,pts_per_game
0,La_liga,2014,1,Barcelona,38,110,21,94,102.980152,-7.019848,28.444293,94.0813,0.0813,2.473684
1,La_liga,2014,2,Real Madrid,38,118,38,92,95.766243,-22.233757,42.607198,81.7489,-10.2511,2.421053
2,La_liga,2014,3,Atletico Madrid,38,67,29,78,57.047670,-9.952330,29.069107,73.1353,-4.8647,2.052632
3,La_liga,2014,4,Valencia,38,70,32,77,55.062500,-14.937500,39.392572,63.7068,-13.2932,2.026316
4,La_liga,2014,5,Sevilla,38,71,45,76,69.526624,-1.473376,47.862742,67.3867,-8.6133,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583,Ligue_1,2019,16,Dijon,28,27,37,30,27.378050,0.378050,39.300382,31.1870,1.1870,1.071429
584,Ligue_1,2019,17,Saint-Etienne,28,29,45,30,29.651493,0.651493,37.725643,32.6755,2.6755,1.071429
585,Ligue_1,2019,18,Nimes,28,29,44,27,30.193755,1.193755,40.473400,32.6876,5.6876,0.964286
586,Ligue_1,2019,19,Amiens,28,31,50,23,25.619869,-5.380131,38.426209,32.8361,9.8361,0.821429
587,Ligue_1,2019,20,Toulouse,28,22,58,13,31.294048,9.294048,48.275034,28.0073,15.0073,0.464286